In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from scipy.sparse import csr_matrix
import implicit

/Users/platon.fedorov/opt/anaconda3/envs/hh_recsys/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [27]:
train_path = "../data/processed/train.parquet"
test_path  = "../data/processed/test_inference.parquet"
user_history_data_path = "dumps/user_history/history_data.parquet"

In [19]:
train = pd.read_parquet(train_path)

In [4]:
train.head()

,user_id,session_id,vacancy_id,action_type,action_dt,is_session_has_more_then_one_date,session_day
0,u_332060,s_28301374,"[v_2571684, v_488179, v_2389179, v_1393783, v_...","[2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 1, 2, 2, 2, ...","[2023-11-01T00:40:58.105000000, 2023-11-01T00:...",False,1
1,u_1057881,s_33868982,[v_665861],[2],[2023-11-01T00:23:51.452000000],False,1
2,u_1036784,s_32474802,[v_2594840],[2],[2023-11-01T00:52:34.023000000],False,1
3,u_786220,s_14060785,"[v_1473781, v_1622905, v_1621959, v_2289180, v...","[1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 2, ...","[2023-11-01T00:58:20.793000000, 2023-11-01T01:...",False,1
4,u_639152,s_23205986,"[v_695738, v_22433, v_1590524, v_502496, v_200...","[2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, ...","[2023-11-01T01:14:20.828000000, 2023-11-01T00:...",False,1

In [5]:
pairs = train[['user_id', 'vacancy_id', 'action_type']].explode(['vacancy_id', 'action_type']).reset_index(drop=True)
pairs

            user_id vacancy_id action_type
0          u_332060  v_2571684           2
1          u_332060   v_488179           2
2          u_332060  v_2389179           2
3          u_332060  v_1393783           2
4          u_332060  v_2608935           2
...             ...        ...         ...
13524544   u_967286  v_1185617           2
13524545    u_53297   v_237611           2
13524546  u_1174879  v_1394023           2
13524547   u_938734  v_1102303           2
13524548  u_1088472  v_2625694           2

[13524549 rows x 3 columns]

In [6]:
user_counts = pairs.groupby("user_id").count().reset_index()

In [7]:
used_users = user_counts[user_counts["vacancy_id"] >= 10]["user_id"]

In [8]:
used_pairs = pairs.merge(used_users, "inner", "user_id")

In [9]:
item_counts = used_pairs.groupby("vacancy_id").count().reset_index()

In [10]:
used_items = item_counts[item_counts["user_id"] >= 15]["vacancy_id"]

In [11]:
used_pairs = pairs.merge(used_items, "inner", "vacancy_id")

In [12]:
def sparcity(pairs):
    return len(pairs) / (len(pairs["user_id"].unique()) * len(pairs["vacancy_id"].unique()))

In [13]:
sparcity(pairs), sparcity(used_pairs)

(1.670173463413874e-05, 9.026066338405871e-05)

In [14]:
unique_users = used_pairs["user_id"].unique().tolist()
unique_vacancies = used_pairs['vacancy_id'].explode().unique().tolist()

user2idx = {user_id: idx for idx, user_id in enumerate(unique_users)}
vac2idx = {vac_id: idx for idx, vac_id in enumerate(unique_vacancies)}
idx2vac = {idx: vac_id for vac_id, idx in vac2idx.items()}

action_weights = {
    1: 4.0,
    2: 1.0,
    3: 2.0
}

In [15]:
users = used_pairs['user_id'].map(user2idx).to_numpy()
vacancies = used_pairs['vacancy_id'].map(vac2idx).to_numpy()
preferences = used_pairs['action_type'].map(action_weights).to_numpy()

In [16]:
uv_mat = csr_matrix((preferences, (users, vacancies)))

In [17]:
!OPENBLAS_NUM_THREADS=1

In [18]:
als_model = implicit.als.AlternatingLeastSquares(
    alpha=40,
    factors=50,
    random_state=137,
    iterations=15,
    calculate_training_loss=True,
    regularization=0.001
)

/Users/platon.fedorov/opt/anaconda3/envs/hh_recsys/lib/python3.8/site-packages/implicit/cpu/als.py:95: RuntimeWarning: OpenBLAS is configured to use 8 threads. It is highly recommended to disable its internal threadpool by setting the environment variable 'OPENBLAS_NUM_THREADS=1' or by calling 'threadpoolctl.threadpool_limits(1, "blas")'. Having OpenBLAS use a threadpool can lead to severe performance issues here.
  check_blas_config()

In [20]:
als_model.fit(uv_mat)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 15/15 [06:56<00:00, 27.79s/it, loss=0.00277]

In [82]:
type(als_model)

implicit.cpu.als.AlternatingLeastSquares

In [21]:
als_model.user_factors.shape, als_model.item_factors.shape

((582823, 50), (178379, 50))

In [28]:
test = pd.read_parquet(test_path)
user_history_data = pd.read_parquet(user_history_data_path)

In [29]:
test = test.merge(user_history_data, "left", "user_id")

In [30]:
test_users = list(filter(lambda x: x in user2idx, test["user_id"].unique().tolist()))
print("Пользователей в тесте, для которых есть ALS", len(test_users))
print("Это", len(test_users) / len(test) * 100, "% от всех юзеров теста")

Пользователей в тесте, для которых есть ALS 35124
Это 75.79955975657128 % от всех юзеров теста

In [43]:
predictions = []

def recommend_by_als(user_id, vacancy_id, items, als):
    if user_id not in user2idx:
        return []

    if items in 

    user_idx = user2idx[user_id]
    recs = als.recommend(
        user_idx,
        uv_mat[cuser],
        N=100,
        recalculate_user=True,
        filter_already_liked_items=True
    )[0]
    recs = [idx2vac[cv] for cv in recs]

    return recs
    

test["predictions"] = test[["user_id", "vacancy_id", "items"]].apply(
    lambda row: recommend_by_als(row['user_id'], row['vacancy_id'], row['items'], als_model),
    axis=1
)

In [64]:
from itertools import chain

def merge_history(vacancy_id, items):
    if isinstance(items, np.ndarray) or isinstance(items, list):
        vacancy_id = list(chain(*items)) + list(vacancy_id)
    return vacancy_id

def prepare_one_step_matrix(test, vac2idx, action_weights):
    test["history"] = test[["vacancy_id", "items"]].apply(
        lambda row: merge_history(row["vacancy_id"], row["items"]),
        axis=1
    )
    test["history_actions"] = test[["action_type", "item_actions"]].apply(
        lambda row: merge_history(row["action_type"], row["item_actions"]),
        axis=1
    )
    pairs = test[['user_id', 'history', 'history_actions']]\
        .explode(['history', 'history_actions'])\
        .reset_index(drop=True)
    used_items = pd.Series(vac2idx.keys())
    used_items.name = "history"
    one_step_pairs = pairs.merge(used_items, "inner", "history")

    print(len(pairs) / (len(pairs["user_id"].unique()) * len(pairs["history"].unique())))

    unique_users = one_step_pairs["user_id"].unique().tolist()
    user2idx = {user_id: idx for idx, user_id in enumerate(unique_users)}

    users = one_step_pairs['user_id'].map(user2idx).to_numpy()
    vacancies = one_step_pairs['history'].map(vac2idx).to_numpy()
    preferences = one_step_pairs['history_actions'].map(action_weights).to_numpy()

    return csr_matrix((preferences, (users, vacancies))), user2idx

In [58]:
test.head(1)

,user_id,session_id,target_session_id,vacancy_id,action_type,action_dt,target_vacancy_id,items,item_actions,predictions,history,history_actions
0,u_1000060,s_19856666,s_6481076,[v_1962314],[2],[2023-11-10T14:21:18.628000000],v_76636,"[[v_1500295, v_1500295], [v_1500295, v_524850]...","[[2, 1], [2, 2], [2], [2, 2], [2], [2, 2, 2], ...","[v_1840884, v_1508872, v_663937, v_2384625, v_...","[v_1500295, v_1500295, v_1500295, v_524850, v_...","[2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."

In [65]:
one_step_matrix, user2idx = prepare_one_step_matrix(test, vac2idx, action_weights)

0.0001058994958860454

In [75]:
I, D = als_model.recommend(
    np.array([i for i in range(len(user2idx))]),
    one_step_matrix,
    N=100,
    recalculate_user=True,
    filter_already_liked_items=False
)

In [76]:
test["predictions"] = test["user_id"]\
    .apply(
        lambda user_id: list(map(lambda x: idx2vac[x], I[user2idx[user_id]]))
            if user_id in user2idx else []
    )

In [79]:
als_model_2 = implicit.als.AlternatingLeastSquares(
    alpha=40,
    factors=50,
    random_state=137,
    iterations=15,
    calculate_training_loss=True,
    regularization=0.001
)

als_model_2.item_factors = als_model.item_factors

I2, D2 = als_model_2.recommend(
    np.array([i for i in range(len(user2idx))]),
    one_step_matrix,
    N=100,
    recalculate_user=True,
    filter_already_liked_items=False
)

In [80]:
test["predictions_2"] = test["user_id"]\
    .apply(
        lambda user_id: list(map(lambda x: idx2vac[x], I2[user2idx[user_id]]))
            if user_id in user2idx else []
    )

In [81]:
def reciprocal_rank(row):
    predictions = row["predictions_2"]
    target = row["target_vacancy_id"]

    for idx, prediction in enumerate(predictions):
        if prediction == target:
            return 1 / (idx + 1)

    return 0

def recall(row):
    predictions = row["predictions_2"]
    target = row["target_vacancy_id"]

    return int(target in set(predictions))

mrr = test[["predictions_2", "target_vacancy_id"]].apply(reciprocal_rank, axis=1).mean()
recall = test[["predictions_2", "target_vacancy_id"]].apply(recall, axis=1).mean()

print("mrr:", mrr)
print("mean recall:", recall)

mrr: 0.015228182967661659
mean recall: 0.12167119858431524

In [ ]:
"""

Обучили ALS + рекомендуем, кому можем без обновления эмбеддов юзеров (Для остальных [])
mrr: 0.009213898005761204
mean recall: 0.08664594932884458

mrr: 0.015228182967661659
mean recall: 0.12167119858431524

Обучили ALS + рекомендуем, кому можем без обновления эмбеддов юзеров (Для остальных []), фильтруя саму матрицу
mrr: 0.007645883133958031
mean recall: 0.07119426820320256

Обучили ALS + Сделали One-step на данных инференса (Если не было эмбедов айтемов из обучения, то []), фильтруя саму матрицу
mrr: 0.00988495641195503
mean recall: 0.08455263498640425

"""

In [123]:
"""
    Соберём i2i списочки

    И сохраним эмбеддинги
"""

"""
    Эмбеддинги
"""
import pickle

# embeddings_path = "dumps/als/item_factors/embeddings.pickle"
# embedding_names_path = "dumps/als/item_factors/embeddings_names.parquet"
# pd.DataFrame({"vacancy_id": [idx2vac[i] for i in range(len(als_model.item_factors))]}).to_parquet(embedding_names_path)
# pickle.dump(als_model.item_factors, open(embeddings_path, 'wb+'), protocol=4)

# i2i_path =  "dumps/als/als_i2i.parquet"
# i2i_ids, i2i_scores = als_model.similar_items([i for i in range(len(als_model.item_factors))], 101)
# vacancy_ids_ = []
# neighbours_  = []
# for vacancy_als_idx, (i, d) in enumerate(zip(i2i_ids, i2i_scores)):
#     vacancy_ids_.append(idx2vac[vacancy_als_idx])
#     neighbours_.append(list(map(lambda x: idx2vac[x[0]], filter(lambda x: x[1] >= 0.9 and x[0] != vacancy_als_idx, zip(i, d)))))
# als_i2i = pd.DataFrame.from_dict({
#     "vacancy_id": vacancy_ids_,
#     "neighbours": neighbours_
# })
# als_i2i = als_i2i[als_i2i["neighbours"].apply(len) > 0]
# als_i2i.to_parquet(i2i_path)
# als_i2i.shape[0]

174890

In [126]:
# als_i2i["neighbours"].apply(len).describe()

In [82]:
vacancies = pd.read_parquet("dumps/production/i2i/name_area/vacancies.parquet")

In [86]:
vacancy_2_name = {row["vacancy_id"]: row["text"] for _, row in vacancies.iterrows()}

In [103]:
for row_idx, row in vacancies.iterrows():
    vacancy_id = row["vacancy_id"]
    vacancy_name = vacancy_2_name[vacancy_id]

    if vacancy_id not in vac2idx:
        continue

    if vacancy_name.startswith("Москва"):
        continue

    als_vacacny_index = vac2idx[vacancy_id]
    ids, scores= als_model.similar_items(als_vacacny_index, 5)

    print("-=-=--=-===-=")
    print(vacancy_name)
    print("^^^^^^^^^^^^^")

    neighbours = list(map(lambda z: vacancy_2_name[z], filter(lambda y: y in vacancy_2_name, map(lambda x: idx2vac[x], ids))))
    # print(pd.DataFrame({"neighbours": neighbours, "score": scores}))

    for score, neighbour in zip(scores, neighbours):
        print("    ", score, neighbour)

    if row_idx >= 2000:
        break

-=-=--=-===-=
Приморская область. Менеджер по работе с локальными ключевыми клиентами (ДФО)
^^^^^^^^^^^^^
     1.0000001 Приморская область. Менеджер по работе с локальными ключевыми клиентами (ДФО)
     0.9951988 Приморская область. Менеджер по работе с ключевыми клиентами в регионе Дальний Восток
     0.994969 Приморская область. Менеджер по ключевым клиентам (ГРИН АГРО)
     0.994867 Приморская область. Руководитель отдела продаж
     0.9945531 Приморская область. Менеджер по работе с партнерами/Региональный менеджер (Дальневосточный Федеральный округ)
-=-=--=-===-=
Екатеринбург. Кладовщик на детские новогодние подарки
^^^^^^^^^^^^^
     1.0000001 Екатеринбург. Кладовщик на детские новогодние подарки
     0.9984795 Екатеринбург. Рабочий на производство
     0.99842525 Екатеринбург. Продавец (без кассы)
     0.9983604 Екатеринбург. Слесарь-сборщик РЭА и приборов
     0.9982873 Екатеринбург. Рабочий на производство
-=-=--=-===-=
Московская область. Сборщик с ежедневной выплатой Wildberries, Ozon
^^^^^^^^^^^^^
     1.0000001 Московская область. Сборщик с ежедневной выплатой Wildberries, Ozon
     0.9292453 Москва. Упаковщик ланчбоксов (питание) для пассажиров поездов и самолетов
     0.9252857 Москва. Регистрация Ozon заказов ( менеджер )
     0.9243613 Москва. Начинающий специалист, подработка
     0.917872 Москва. Сотрудник пункта выдачи заказов Wildberries
-=-=--=-===-=
Ростовская область. Junior Backend разработчик в офис
^^^^^^^^^^^^^
     0.99999994 Ростовская область. Junior Backend разработчик в офис
     0.96429336 Хабаровский край. Веб-разработчик (начальный уровень)
     0.9622255 Ростовская область. Ученик web-разработчик
     0.9585965 Хабаровский край. Веб-программист/стажер
-=-=--=-===-=
Московская область. Стажёр в пункт выдачи заказов
^^^^^^^^^^^^^
     0.9999998 Московская область. Стажёр в пункт выдачи заказов
     0.93620324 Московская область. Кладовщик-комплектовщик / Работник склада
     0.9358088 Московская область. Кладовщик-комплектовщик
     0.9255446 Московская область. Кладовщик на производство
     0.9022457 Московская область. Кладовщик на аптечный склад
-=-=--=-===-=
Нижегородской область. Менеджер по продажам B2B
^^^^^^^^^^^^^
     1.0000001 Нижегородской область. Менеджер по продажам B2B
     0.99527216 Нижегородской область. Менеджер по продажам
     0.9936146 Нижегородской область. Менеджер по продажам В2В
     0.9902446 Нижегородской область. Менеджер по продажам на сайт
     0.98991114 Нижегородской область. Менеджер по продажам
-=-=--=-===-=
Московская область. Сборщик - комплектовщик заказов для маркетплейсов Wildberries и Ozon
^^^^^^^^^^^^^
     1.0000001 Московская область. Сборщик - комплектовщик заказов для маркетплейсов Wildberries и Ozon
     0.9642372 Москва. Менеджер на маркетплейсы (м. Текстильщики, Новохохловская)
     0.9606005 Москва. Помощник менеджера маркетплейсов (Wildberries)
     0.95960623 Москва. Менеджер по работе с маркетплейсами
     0.9581295 Москва. Менеджер маркетплейсов
-=-=--=-===-=
Республика Татарстан. Юрист
^^^^^^^^^^^^^
     1.0 Республика Татарстан. Юрист
     0.995124 Республика Татарстан. Ведущий юрисконсульт
     0.9941506 Республика Татарстан. Юрисконсульт
     0.99385536 Республика Татарстан. Юрист
     0.991157 Республика Татарстан. Юрист
-=-=--=-===-=
Самарская область. Менеджер отдела закупок / Категорийный менеджер
^^^^^^^^^^^^^
     1.0 Самарская область. Менеджер отдела закупок / Категорийный менеджер
     0.99728316 Самарская область. Заведующий складом
     0.9958141 Самарская область. Менеджер в отдел развития и аренды
     0.995715 Самарская область. Начальник склада
     0.9956658 Самарская область. Руководитель
-=-=--=-===-=
Санкт-Петербург. Руководитель проектов
^^^^^^^^^^^^^
     1.0 Санкт-Петербург. Руководитель проектов
     0.97570723 Санкт-Петербург. Руководитель проекта / Инженер проекта
     0.9742567 Санкт-Петербург. Менеджер проектов (вентиляционное оборудование)
     0.97388613 Санкт-Петербург. Руководитель проектов
     0.97375673 Санкт-Петербург. Руководитель проекта (ОВ, ВК)
-=-=--=-===-=
Республика Башкортостан. Системный администратор
^^^^^^^^^^^^^
     1.0 Республика Башкортостан. Системный администратор
     0.9861322 Республика Башкортостан. Специалист по информационной безопасности
     0.98560774 Республика Башкортостан. Системный администратор
     0.9849735 Республика Башкортостан. Инженер-программист
     0.9820652 Республика Башкортостан. Старший системный инженер
-=-=--=-===-=
Республика Башкортостан. Снабженец
^^^^^^^^^^^^^
     1.0000001 Республика Башкортостан. Снабженец
     0.9990167 Республика Башкортостан. Снабженец логист
     0.9990011 Республика Башкортостан. Менеджер отдела снабжения (ОМТС)
     0.9970147 Республика Башкортостан. Менеджер по cнабжению/закупкам
     0.9958072 Республика Башкортостан. Менеджер по закупкам и снабжению
-=-=--=-===-=
Санкт-Петербург. DWH-developer
^^^^^^^^^^^^^
     0.99999976 Санкт-Петербург. DWH-developer
     0.9814578 Москва. DWH developer
     0.97634953 Москва. Разработчик ETL(Hadoop)
     0.9727359 Москва. ETL разработчик
     0.9721604 Санкт-Петербург. Data Engineer
-=-=--=-===-=
Санкт-Петербург. Менеджер по продажам (входящие звонки)
^^^^^^^^^^^^^
     1.0000001 Санкт-Петербург. Менеджер по продажам (входящие звонки)
     0.98544496 Санкт-Петербург. Менеджер по работе с клиентами | Менеджер по продажам (удаленно, входящие заявки)
     0.9817252 Санкт-Петербург. Оператор отдела продаж
     0.9789791 Санкт-Петербург. Менеджер по продажам (удалённо)
     0.97875965 Санкт-Петербург. Менеджер по продажам на входящие заявки удаленно
-=-=--=-===-=
Краснодар. SMM специалист
^^^^^^^^^^^^^
     1.0000001 Краснодар. SMM специалист
     0.92078555 Краснодар. SMM-менеджер / контент-менеджер
     0.9204669 Республика Татарстан. СММ-менеджер/контент-менеджер (удаленно)
-=-=--=-===-=
Санкт-Петербург. Коммерческий директор / директор по развитию
^^^^^^^^^^^^^
     0.9999999 Санкт-Петербург. Коммерческий директор / директор по развитию
     0.9847125 Санкт-Петербург. Коммерческий директор
     0.983148 Санкт-Петербург. Коммерческий директор
     0.9828224 Санкт-Петербург. Директор по развитию бизнеса
     0.98257613 Санкт-Петербург. Директор по развитию / Коммерческий директор
-=-=--=-===-=
Санкт-Петербург. Юрисконсульт
^^^^^^^^^^^^^
     0.9999999 Санкт-Петербург. Юрисконсульт
     0.99436325 Санкт-Петербург. Юрист
     0.99388707 Санкт-Петербург. Юрисконсульт
     0.9932473 Санкт-Петербург. Юрист
     0.9931798 Санкт-Петербург. Ведущий юрисконсульт
-=-=--=-===-=
Новосибирская область. Менеджер киберспортивных мероприятий (ночной судья-администратор лиги QUAZAR.GG)
^^^^^^^^^^^^^
     1.0000002 Новосибирская область. Менеджер киберспортивных мероприятий (ночной судья-администратор лиги QUAZAR.GG)
     0.97913206 Новосибирская область. Компьютерный мастер
     0.9781977 Новосибирская область. Специалист по ИТ
     0.97703534 Новосибирская область. Специалист технической поддержки
     0.97680736 Новосибирская область. Менеджер по поддержке приложений
-=-=--=-===-=
Воронежская область. Специалист контактного центра на входящую линию (удаленно)
^^^^^^^^^^^^^
     1.0 Воронежская область. Специалист контактного центра на входящую линию (удаленно)
     0.9924047 Воронежская область. Оператор в рекламную поддержку (удаленно в Яндекс)
     0.9903253 Воронежская область. Оператор горячей линии вызова врача на дом (Удаленно)
     0.98777586 Воронежская область. Менеджер по работе с клиентами (удалённо)
     0.98707384 Воронежская область. Специалист по входящим обращениям
-=-=--=-===-=
Краснодар. Юрист
^^^^^^^^^^^^^
     0.9999999 Краснодар. Юрист
     0.9878051 Краснодар. Юрист
     0.9851345 Краснодар. Юрисконсульт договорного отдела
     0.983465 Краснодар. Юрист
     0.98130685 Краснодар. Юрисконсульт
-=-=--=-===-=
Челябинской области. Инженер-конструктор
^^^^^^^^^^^^^
     1.0000001 Челябинской области. Инженер-конструктор
     0.951916 Москва. Инженер-конструктор (Revit желательно)
     0.94585866 Москва. Ведущий конструктор фасадных конструкций (удаленно)
     0.9427461 Москва. Инженер-конструктор
     0.9355329 Москва. Инженер-конструктор
-=-=--=-===-=
Санкт-Петербург. Менеджер по продажам консалтинговых услуг (удаленно)
^^^^^^^^^^^^^
     1.0 Санкт-Петербург. Менеджер по продажам консалтинговых услуг (удаленно)
     0.9652213 Санкт-Петербург. Менеджер по продажам (удаленно)
     0.961524 Санкт-Петербург. Менеджер по работе с клиентами
     0.96102834 Санкт-Петербург. Менеджер отдела продаж
     0.96058154 Санкт-Петербург. Менеджер по продажам на входящие заявки (в сфере digital-marketing)
-=-=--=-===-=
Нижегородской область. Инженер отдела развития по направлениям экстерьер/интерьер, детали кузова и силовые агрегаты
^^^^^^^^^^^^^
     0.9999999 Нижегородской область. Инженер отдела развития по направлениям экстерьер/интерьер, детали кузова и силовые агрегаты
     0.9902299 Нижегородской область. Инженер-конструктор
     0.98979205 Нижегородской область. Инженер-конструктор
     0.98620325 Нижегородской область. Ведущий инженер-конструктор (нестандартного оборудования особо сложных конструкций)
     0.9749681 Нижегородской область. Главный конструктор
-=-=--=-===-=
Екатеринбург. Инженер по автоматизации (мехатроника)
^^^^^^^^^^^^^
     1.0 Екатеринбург. Инженер по автоматизации (мехатроника)
     0.9862247 Екатеринбург. Системный администратор 1С (Стажер)
     0.9807693 Екатеринбург. Консультант 1С (без опыта)
     0.97910684 Екатеринбург. Начинающий ИТ-специалист
     0.97880936 Екатеринбург. Начинающий специалист ИТ
-=-=--=-===-=
Ростовская область. Специалист группы документального сопровождения компенсаций
^^^^^^^^^^^^^
     1.0000001 Ростовская область. Специалист группы документального сопровождения компенсаций
     0.9583291 Нижегородской область. Оператор call-центра (удаленно)
     0.9531333 Ростовская область. Персональный менеджер по сопровождению действующих клиентов
     0.9475278 Ростовская область. Менеджер по работе с клиентами Мегафон
     0.94394255 Ростовская область. Менеджер по работе с клиентами (без звонков)
-=-=--=-===-=
Самарская область. Веб-разработчик
^^^^^^^^^^^^^
     0.9999999 Самарская область. Веб-разработчик
     0.96976143 Приморская область. Fullstack-разработчик
     0.96935683 Санкт-Петербург. Fullstack Разработчик
     0.9653864 Пермский край. Разработчик Javascript
-=-=--=-===-=
Новосибирская область. Кладовщик (ТЦ Мега)
^^^^^^^^^^^^^
     0.9999999 Новосибирская область. Кладовщик (ТЦ Мега)
     0.99949706 Новосибирская область. Комплектовщик
     0.9994811 Новосибирская область. Кладовщик (кладовщица)
     0.9994112 Новосибирская область. Сотрудник склада (теплый склад)
     0.9993197 Новосибирская область. Упаковщик на склад в Новосибирск
-=-=--=-===-=
Республика Татарстан. Аналитик (сопровождение системы)
^^^^^^^^^^^^^
     1.0 Республика Татарстан. Аналитик (сопровождение системы)
     0.98905236 Республика Татарстан. Начинающий специалист в IT
     0.9791907 Республика Татарстан. Стажер по информационной безопасности (внедрение IDM систем)
     0.9782988 Республика Татарстан. IT стажер (по мониторингу за поставками данных)
     0.9738292 Республика Татарстан. Стажер-программист 1С
-=-=--=-===-=
Самарская область. Бухгалтер-материалист
^^^^^^^^^^^^^
     0.9999998 Самарская область. Бухгалтер-материалист
     0.99880993 Самарская область. Бухгалтер по труду и заработной плате
     0.99840015 Самарская область. Бухгалтер на первичную документацию
     0.99817616 Самарская область. Бухгалтер на товарный учет (Тольятти)
     0.9981327 Самарская область. Бухгалтер
-=-=--=-===-=
Санкт-Петербург. Администратор фитнес-клуба (м. Московская)
^^^^^^^^^^^^^
     0.9999999 Санкт-Петербург. Администратор фитнес-клуба (м. Московская)
     0.9897828 Санкт-Петербург. Продавец - стилист в Marchelas (Владимирский/ТЦ Охта Молл)
     0.9895267 Санкт-Петербург. Администратор в апартаменты
     0.9879281 Санкт-Петербург. Администратор на ресепшен
     0.9852487 Санкт-Петербург. Продавец-консультант / Администратор в салон женской одежды (Свадебный салон)
-=-=--=-===-=
Санкт-Петербург. Дежурный бюро пропусков
^^^^^^^^^^^^^
     0.9999999 Санкт-Петербург. Дежурный бюро пропусков
     0.98825437 Санкт-Петербург. Диспетчер аварийно-диспетчерской службы
     0.9825775 Санкт-Петербург. Архивариус
     0.98099494 Санкт-Петербург. Специалист группы мониторинга
     0.9787832 Санкт-Петербург. Специалист (СДП)
-=-=--=-===-=
Екатеринбург. Менеджер по работе с контрагентами
^^^^^^^^^^^^^
     1.0000001 Екатеринбург. Менеджер по работе с контрагентами
     0.99514693 Екатеринбург. Помощник руководителя (администратор проекта)
     0.99306196 Екатеринбург. Ведущий специалист на сопровождения поточных функций взыскания
     0.99244475 Екатеринбург. Специалист по договорной работе
     0.99139774 Екатеринбург. Юрист
-=-=--=-===-=
Санкт-Петербург. Менеджер по управлению проектами
^^^^^^^^^^^^^
     0.99999994 Санкт-Петербург. Менеджер по управлению проектами
     0.9813617 Санкт-Петербург. Менеджер по развитию бизнес процессов
     0.9805873 Санкт-Петербург. Менеджер проектов
     0.977396 Санкт-Петербург. Менеджер проектов
     0.9768144 Санкт-Петербург. Руководитель проектов
-=-=--=-===-=
Санкт-Петербург. Инженер слаботочных систем
^^^^^^^^^^^^^
     1.0 Санкт-Петербург. Инженер слаботочных систем
     0.9590642 Санкт-Петербург. Инженер по монтажу ИТ-оборудования, г. Санкт-Петербург
     0.95546085 Санкт-Петербург. Инженер по системам безопасности
     0.9532243 Санкт-Петербург. Инженер
     0.9507287 Санкт-Петербург. Инженер сервисного обслуживания
-=-=--=-===-=
Республика Башкортостан. Удаленный оператор поддержки в службу доставки (подработка)
^^^^^^^^^^^^^
     0.99999994 Республика Башкортостан. Удаленный оператор поддержки в службу доставки (подработка)
     0.98503286 Республика Башкортостан. Удаленный специалист справочной службы
     0.9848504 Республика Башкортостан. Начинающий специалист по заполнению заявок (удаленно)
     0.98453003 Республика Башкортостан. Сотрудник интернет-магазина (Удаленно)
     0.98269707 Республика Башкортостан. Удаленный оператор поддержки в службу доставки (подработка)
-=-=--=-===-=
Челябинской области. Сотрудник склада Озон
^^^^^^^^^^^^^
     1.0000001 Челябинской области. Сотрудник склада Озон
     0.8548677 Екатеринбург. Администратор
     0.84834886 Челябинской области. Сотрудник пункта выдачи заказов (Подработка)
     0.84417725 Екатеринбург. Стажер (на дому)
     0.84045213 Екатеринбург. Сборщик с еженедельной выплатой на склад Wildberries, Ozon
-=-=--=-===-=
Самарская область. Региональный менеджер по клинингу
^^^^^^^^^^^^^
     1.0000001 Самарская область. Региональный менеджер по клинингу
     0.99750245 Самарская область. Менеджер по продажам автомобилей / Менеджер по работе с клиентами
     0.99710375 Самарская область. Менеджер по поиску коммерческой недвижимости (Самара)
     0.9969971 Самарская область. Менеджер по развитию сети
     0.9964955 Самарская область. Проект-менеджер/менеджер по работе с проектными организациями
-=-=--=-===-=
Самарская область. Специалист по оценке персонала (удаленный формат)
^^^^^^^^^^^^^
     1.0 Самарская область. Специалист по оценке персонала (удаленный формат)
     0.9340463 Москва. Консультант по оценке персонала
     0.9324959 Москва. Менеджер программы карьерного сопровождения
     0.9286824 Краснодар. Тренер по развитию персонала (удаленно)
-=-=--=-===-=
Санкт-Петербург. Key account manager (международная торгово-производственная компания)
^^^^^^^^^^^^^
     0.99999994 Санкт-Петербург. Key account manager (международная торгово-производственная компания)
     0.99320155 Санкт-Петербург. Менеджер по работе с ключевыми клиентами
     0.99318457 Санкт-Петербург. Руководитель отдела продаж
     0.9910992 Санкт-Петербург. Руководитель отдела продаж специального оборудования и услуг
     0.9899199 Санкт-Петербург. Руководитель отдела продаж
-=-=--=-===-=
Тюменская область. Оператор по добыче нефти и газа 4-5 разряда
^^^^^^^^^^^^^
     0.9999998 Тюменская область. Оператор по добыче нефти и газа 4-5 разряда
     0.97605175 Тюменская область. Оператор по добыче нефти и газа 4-5 разряда
     0.9742981 Тюменская область. Полевой инженер
     0.9668656 Тюменская область. Оператор по добыче нефти и газа (4,5,6 разряд)
-=-=--=-===-=
Санкт-Петербург. Бухгалтер
^^^^^^^^^^^^^
     1.0 Санкт-Петербург. Бухгалтер
     0.9930676 Санкт-Петербург. Оператор 1С/бухгалтер на первичную документацию
     0.9923106 Санкт-Петербург. Бухгалтер на первичную документацию
     0.9910925 Санкт-Петербург. Бухгалтер
     0.9898363 Санкт-Петербург. Помощник Бухгалтера на первичную документацию