In [1]:
import pandas as pd
import polars as pl


path = "../data/raw/hh_recsys_test_hh.pq"

In [2]:
df = pl.read_parquet(path).to_pandas()

In [3]:
df.columns

Index(['user_id', 'session_id', 'vacancy_id', 'action_type', 'action_dt'], dtype='object')

In [4]:
df.head(5)

,user_id,session_id,vacancy_id,action_type,action_dt
0,u_482520,s_25018731,"[v_2597196, v_1223061, v_1223061]","[2, 2, 1]","[2023-11-19T12:03:13.089000000, 2023-11-19T12:..."
1,u_582132,s_481216,"[v_470400, v_470400, v_1530783]","[2, 1, 2]","[2023-11-21T15:39:47.981000000, 2023-11-21T15:..."
2,u_212584,s_16918781,"[v_1572055, v_1572055, v_1572055, v_953153, v_...","[2, 3, 2, 2, 1, 2, 2, 1, 2, 1, 2, 1]","[2023-11-16T08:41:47.031000000, 2023-11-16T08:..."
3,u_425177,s_17505104,"[v_1375331, v_1922852]","[2, 2]","[2023-11-17T12:42:18.513000000, 2023-11-17T12:..."
4,u_700997,s_15528830,"[v_2152997, v_2152997, v_1217630]","[2, 1, 2]","[2023-11-16T17:22:53.530000000, 2023-11-16T17:..."

In [5]:
df["user_id"].shape[0] - df["user_id"].drop_duplicates().shape[0]

0

In [6]:
df["user_id"].drop_duplicates().shape[0]

83189

In [7]:
df["action_dt"].explode().map(lambda x: x.date()).value_counts()

action_dt
2023-11-20    110388
2023-11-21    107022
2023-11-16     91042
2023-11-15     86651
2023-11-17     75059
2023-11-19     41569
2023-11-18     35911
Name: count, dtype: int64