In [21]:
import pandas as pd
import polars as pl
from itertools import chain
from collections import Counter

path = "../data/raw/hh_recsys_vacancies.pq"
path_sample = "../data/raw/hh_recsys_vacancies_50k.pq"

In [2]:
# df = pl.read_parquet(path).to_pandas()
# df = df.sample(n=50000)
# df.to_parquet(path_sample)

In [3]:
df = pd.read_parquet(path_sample)

In [4]:
df.columns

Index(['vacancy_id', 'name', 'company.id', 'description', 'keySkills.keySkill',
       'compensation.from', 'compensation.to', 'compensation.currencyCode',
       'area.id', 'area.regionId', 'employment', 'workSchedule',
       'workExperience'],
      dtype='object')

In [5]:
df.head(3)

,vacancy_id,name,company.id,description,keySkills.keySkill,compensation.from,compensation.to,compensation.currencyCode,area.id,area.regionId,employment,workSchedule,workExperience
1969794,v_2497305,Музыкальный руководитель,c_22687,<p><strong>В частную школу Alta School ищем пе...,"[Возрастная психология, Общая психология, Орга...",50000.0,50000.0,RUR,a_5398,ar_71,full,fullDay,between1And3
2134207,v_907633,Специалист по тестированию,c_33932,<p><strong>Работа.ру</strong> — один из главны...,"[SQL, Проведение тестирований, Postman, Ручное...",NaN,NaN,None,a_1756,ar_41,full,remote,between1And3
2161741,v_1580610,Продавец-Грузчик в супермаркет Ярче (Притомски...,c_274531,<p><strong>«Ярче!»</strong> – федеральная сеть...,None,45000.0,NaN,RUR,a_4280,ar_11,full,shift,noExperience

In [6]:
df.shape[0]

50000

In [10]:
for col in ["name", "employment", "workSchedule", "workExperience"]:
    print(df[col].value_counts())

name
Менеджер по продажам                                                                        383
Кладовщик                                                                                   305
Продавец-консультант                                                                        240
Менеджер по работе с клиентами                                                              238
Бухгалтер                                                                                   230
                                                                                           ...
Специалист по обслуживанию клиентов в чатах                                                   1
Руководитель сектора по оптимизации и автоматизации логистических процессов                   1
Консультант (Аналитическое управление)                                                        1
Кондитер/помощник кондитера                                                                   1
Node js программист, Rest API - Telegram в IT-стартап (Удаленно, "Резиденты Астана Hub")      1
Name: count, Length: 31192, dtype: int64
employment
full         46362
part          3101
probation      350
project        184
volunteer        3
Name: count, dtype: int64
workSchedule
fullDay        33346
shift           7017
remote          3700
flyInFlyOut     3365
flexible        2572
Name: count, dtype: int64
workExperience
between1And3    22091
noExperience    18473
between3And6     8334
moreThan6        1102
Name: count, dtype: int64

In [15]:
for col in df.columns:
    print(col, df[col].isna().sum())

vacancy_id 0
name 0
company.id 0
description 0
keySkills.keySkill 22693
compensation.from 12125
compensation.to 27435
compensation.currencyCode 9368
area.id 0
area.regionId 405
employment 0
workSchedule 0
workExperience 0

In [16]:
df["description"].head(1)

1969794    <p><strong>В частную школу Alta School ищем пе...
Name: description, dtype: object

In [24]:
skill_counter = Counter(list(map(str.lower, chain(*df[~df["keySkills.keySkill"].isna()]["keySkills.keySkill"].values))))

In [25]:
len(skill_counter)

11057